DATABASE_URL=postgres://a5819b5ea91e55fd932fa24cc3c73769e0df1bf7486c3fdf07610fbe6bd38584:sk_ltvc0xArKk4viSrRDStsf@pooled.db.prisma.io:5432/postgres?sslmode=require
SMTP_HOST=vmi2391508.contaboserver.net
SMTP_PORT=587
SMTP_USER=smtp@postal.venihost.com.ng
SMTP_PASS=samisell@123
SMTP_FROM="Impact Migration Consulting" <smtp@postal.venihost.com.ng>
